*, *>* {
	box-sizing: border-box;
	padding: 0.1px;
}
body {
	margin: 0;
	color: #666;
	background-color: #0f0f0f
}
p {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
}
