<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>items</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="mainContainer">
	<!-- = = = = = = = = = = = = = = = = = =  -->
	<!-- = = = = = = = = = = = = = = = = = =  -->
	<!-- Rivets examples -->
	<!-- <div rv-if="settings.showById.townNavigation">
	</div>

	<table>
		<tr rv-each-it="player.backpack" >
			<td>{ it.name }</td>
			<td rv-if="it.isEquipment">
				<button rv-on-click="it.toggleEquipment">equip</button>
			</td>
		</tr>
	</table> -->
	<!-- = = = = = = = = = = = = = = = = = =  -->
	<!-- = = = = = = = = = = = = = = = = = =  -->

	<div id="pageContainer">
		<div id="gameContainer">
			<div id="p1Hand" class="hand">
				<ul class="hand-container"></ul>
				<div class="my-turn p1">my turn</div>
			</div>

			<div id="battlefieldContainer">
				<ul id="battlefield">
					<li id="0_0" class="fake-card"></li>
					<li id="0_1" class="fake-card"></li>
					<li id="0_2" class="fake-card"></li>
					<li id="1_0" class="fake-card"></li>
					<li id="1_1" class="fake-card"></li>
					<li id="1_2" class="fake-card"></li>
					<li id="2_0" class="fake-card"></li>
					<li id="2_1" class="fake-card"></li>
					<li id="2_2" class="fake-card"></li>
				</ul>
			</div>

			<div id="p2Hand" class="hand nope">
				<ul class="hand-container"></ul>
				<div class="my-turn p2">my turn</div>
			</div>

		</div> <!-- end #gameContainer -->
	</div> <!-- end #pageContainer -->

</div> <!-- end #mainContainer -->


<!-- jquery -->
<script	src="js/utils/jquery.js"></script>
<script	src="js/utils/rivets.js"></script>

<script	src="js/utils.js"></script>
<script	src="js/main.js"></script>

</body>
</html>